body {
  text-align: center;
  margin: 0;
}

html, body, #__next, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(221, 218, 218);
  pointer-events: none;
  transition: transform 0.1s ease-out;
}

