*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Ensure full height for the main content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Important for absolute positioning of the cursor */
}

/* Styling for the white cursor circle */
#follower {
  width: 30px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  margin: -16px 0 0 -16px;
}

